:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.station-name {
  font-size: 1.1rem;
}

.num-bikes-available {
  font-size: 0.9rem;
}

.num-docks-available {
  font-size: 0.9rem;
  margin-bottom: 0;
}

.zero {
  font-weight: bold;
  color: #832343;
}

.non-zero {
  font-weight: bold;
}

.maplibregl-marker {
  cursor: pointer;
}

p {
  margin: 0.3rem 0;
}

.maplibregl-popup-content {
  border-radius: 0.5rem;
  padding: 1rem;
}

.maplibregl-popup-close-button {
  padding: 0;
  width: 1.6rem;
  height: 1.6rem;
  font-size: 1.2rem;
  border-radius: 0 0.5rem 0 0.5rem;
}
